.Main {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #e4e4e4;
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 5em;
}

.leftSideNav {
    display: flex;
    align-items: end;
    justify-content: rightside;
    color: #fff;
}

.leftSideNav img {
    border-radius: 4px;
}


.rightSideNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.rightSideNav ul {
    display: flex;
    align-items: rightside;
    list-style-type: none;
    gap: 1.2rem;
}

.rightSideNav ul li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.rightSideNav ul li {
    color: var(--logo-primary);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.rightSideNav ul li:hover {
    color: #7800e87d;
    transition: all ease-in-out 500ms;

}

.rightSideNav ul li:hover .chevronDown path {
    stroke: #7800e87d;
    transition: stroke ease-in-out 500ms;
}

.dropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    top: 3rem;
    right: 10rem;
    border-radius: 8px;
    background-color: #9176aa3b;
    padding: 1.5rem;
}

.dropDownContent p {
    font-size: 1.3rem;
    color: #232323;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.showDropdownMenu {
    display: block;
}

.dropDownContainer {
    display: flex;
    flex-direction: column;
}

.dropDownContainer .dropDownRow_1,
.dropDownContainer .dropDownRow_2 {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.category strong {
    font-size: 1rem;
    font-weight: 600;
    color: #232323;
}

.category ul {
    display: flex;
    flex-direction: column;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.category ul li {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    white-space: nowrap;

    border: 1px solid var(--logo-primary);
    border-radius: 4px;
}


.ctaButton {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1.5rem;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: var(--logo-accent);
    color: var(--logo-primary);

    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--logo-accent);
}

.ctaButton:hover {
    transition: all ease-in-out 500ms;
    border: 1px solid var(--logo-primary);
}