.main {
    display: flex;
    align-items: rightside;
    justify-content: space-around;

    padding: 0.8rem 1rem;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #cbcbcb;
    background-color: #9176aa3b;
}

.leftside_nav {
    display: flex;
    align-items: end;
    justify-content: rightside;
    color: #fff;
}

.leftside_nav img {
    border-radius: 4px;
}


.rightside_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.rightside_nav ul {
    display: flex;
    align-items: rightside;
    list-style-type: none;
    gap: 1.2rem;
}

.rightside_nav ul li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.rightside_nav ul li {
    color: var(--logo-primary);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}


.rightside_nav ul li:hover {
    color: #a496b2;
    transition: all ease-in-out 500ms;

}

.dropdown_content {
    display: none;
    position: absolute;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    margin-top: 10px;
    top: 3rem;
    right: 10rem;
    border-radius: 8px;

    background-color: #9176aa3b;
    padding: 1.5rem;
}

.dropdown_content p {
    font-size: 1.3rem;
    color: #232323;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.showDropdownMenu {
    display: block;
}

.dropdown_container {
    display: flex;
    flex-direction: column;
}

.dropdown_container .dropdown_row_1,
.dropdown_container .dropdown_row_2 {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.category strong {
    font-size: 1rem;
    font-weight: 600;
    color: #232323;
}

.category ul {
    display: flex;
    flex-direction: column;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.category ul li {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    white-space: nowrap;

    border: 1px solid var(--logo-primary);
    border-radius: 4px;
}


.cta_button {
    font-weight: 600;
    color: var(--logo-primary);
    color: var(--logo-primary);
    background-color: var(--logo-secondary);
    padding: 0.8rem 1rem;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: 3px 3px 11px 0 #d1cfd3;
}

.cta_button:hover {
    background-color: #e2db28;
    transition: all ease-in-out 500ms;
}