:root {
  --background: #ffffff;
  --foreground: #171717;

  --logo-primary: #7800E8;
  --logo-secondary: #f2f2f2;
  --logo-accent: #fff82e;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);

  background-image: url(/public/img/noise.png);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.secondary_color {
  color: var(--logo-accent);
}

/* HOVER EFFECTS */
.underline_eff {
  position: relative;
}

.underline_eff::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--logo-primary);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline_eff:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bubble_eff {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.bubble_eff::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: white;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.bubble_eff:hover {
  cursor: pointer;
  color: var(--logo-primary);
}

.bubble_eff:hover::before {
  transform: translate3d(555%, -50%, 0) scale3d(15, 15, 15);
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BriemHand';
  src: url('/fonts/BriemHand-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* 
medium
semibold
bold
extrabold
*/