.main {}

.container {}

.hero_section {
    background-color: #e6e0ec69;
    text-align: center;

    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    height: 90vh;
}

.hero_section h1 {
    font-size: 3.6rem;
    color: var(--logo-primary);
}

.hero_section p {
    font-size: 1.1rem;
    color: #646464;
    font-weight: 600;
}

.cta_button {
    font-weight: 600;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    background-color: var(--logo-primary);
    color: #fff;
    box-shadow: 3px 3px 11px 0 #d1cfd3;

    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border: none;
}